body{
    margin: 0px;
}

.logo{
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 1px;
}

main{
    margin: 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: orange;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(197, 128, 0);
}

.navbar li{
    float: left;
}

.footer{
    background-color: orange;
    padding: 20px;
}

.footercontainer{
    width: 100%;
    padding: 7px 3px 2px;
    background-color: rgb(197, 128, 0);
}

.socialicon{
    display: flex;
    justify-content: center;
}

.socialicon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footer input{
    padding: 0px;
    height: 25px;
    width: 250px;
}

.footer button{
    background-color: white;
    color: black;
    border-color: rgb(197, 128, 0);
    margin-top: 10px ;
    border-radius: 70px;
}

.footer input{
    padding: 2px ;
    margin: 3px;
}

/* Hover Effect on Social Media Icon */
.socialicon a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicon a:hover i{
    color: white;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
}

.wrapper input:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: 0.5ms ease;
}

.wrapper input ::placeholder:hover{
    color: white;
}

